*{
    margin:0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
#card{
    width:40%;
    height: 380px;
    background-color:white;
    border-radius: 10px;
    position:absolute;
    margin-top: 10%;
    margin-left: 30%;

}img{
    width:50%;
    height: 380px;
    border-radius: 10px;
    position:absolute;


}
h1,p{
    margin-left: 55%;
    padding: 10px;

}
h2,h4{
    display: inline-flex;
    margin-left: 55%;

}
h2{
    font-size: 2rem;
    color: green;
}
h4{
    text-decoration: line-through;
}
span{
    padding: 20px;
margin-left: 55%;
}
button{
    width:40%;
    height: 50px;
    border-radius: 10px;
    background-color: green;
    margin-left: 55%;
    margin-top: 10px;
    border: transparent;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}